{{ $blockID := .Get "id" }}
{{ $blockContent := .Inner }}
{{ $backgroundColor := .Get "background-color" | default "blue" }}
{{ $title := .Get "title" | default "Block Title" }}
{{ $defaultDisplay := .Get "default-display" | default "none" }}

{{ $displayStyle := "none" }}
{{ $icon := "▶" }}

{{ if eq $defaultDisplay "expanded" }}
  {{ $displayStyle = "block" }}
  {{ $icon = "▼" }}
{{ end }}

<div class="toggle-block" style="background-color: {{ $backgroundColor }}">
  <div class="block-header" onclick="toggleBlock(this)">
    <span class="collapse-icon">{{ $icon }}</span>
    <strong>{{ $title }}</strong>
  </div>
  <div class="block-content" style="display: {{ $displayStyle }};">
    {{ $blockContent }}
  </div>
</div>

<script>
  function toggleBlock(header) {
    var contentElement = header.nextElementSibling;
    var iconElement = header.querySelector('.collapse-icon');

    if (contentElement.style.display === "none") {
      contentElement.style.display = "block";
      iconElement.innerHTML = "▼";
    } else {
      contentElement.style.display = "none";
      iconElement.innerHTML = "▶";
    }
  }
</script>

<style>
  .collapse-block {
    padding: 10px;
    margin-bottom: 5px;
  }

  .block-header {
    color: black;
    cursor: pointer;
  }

  .collapse-icon {
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
  }

  .block-content {
    margin-top: 5px;
  }
</style>
